<!-- Show All Products -->
<section class="mt-20" >
    <!-- <h1 class="font-bold text-4xl">Popular Products</h1> -->
    <input [(ngModel)]="text" type="search"   class="search-input  px-4 py-2 my-3 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 w-full"  placeholder="Search By Name" >
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
      @for (pro of Product() | search : text ; track pro.id) {
      <div
        class="card border border-green-400/50 rounded-md overflow-hidden shadow relative"
      >
        <div class="card-img" [routerLink]="['/details', pro.id]">
          <img
            [src]="pro.imageCover"
            class="w-full h-[250px] object-contain"
            [alt]="pro.title"
          />
        </div>
        <div class="card-body px-2 py-4">
          <h4 class="text-green-500 text-xs">{{ pro.category.name }}</h4>
          <h3 class="font-medium">{{ pro.title.split(" ", 2).join(" ") }}</h3>
          <div class="flex justify-between items-center">
            <span>{{ pro.price }} EGP</span>
            <div class="flex items-center">
              <i class="fas fa-star text-yellow-300"></i>
              <span class="text-gray-500"> {{ pro.ratingsAverage }} </span>
            </div>
          </div>
        </div>
        <button
        (click)="addToCart(pro.id)"
          class="bg-green-600 text-white py-2 px-10 border rounded w-[90%] mx-auto block"
        >
          ADD TO CART
        </button>
      </div>
      }
    </div>
  </section>
  