<section class="w-1/2 mx-auto mt-20 ">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="submitForm()"
    class="shadow border p-5 rounded-2xl"
  >
    <h2 class="text-3xl text-medium text-center text-green-600">Login Now</h2>
    <div class="mb-1">
      @let emailControl = loginForm.get('email');
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >email</label
      >
      <input
        type="email"
        id="email"
        formControlName="email"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (emailControl?.errors && emailControl?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (emailControl?.getError('required')) {
            <li>This field is required.</li>
            }@else if (emailControl?.getError('email')) {
            <li>Please enter a valid email address.</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="mb-1">
      @let passowrdConreol = loginForm.get('password');
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >password</label
      >
      <input
        type="password"
        id="password"
        formControlName="password"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />

      @if (passowrdConreol?.errors && passowrdConreol?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (passowrdConreol?.getError('required')) {
            <li>This field is required.</li>
            }@else if (passowrdConreol?.getError('minlength')) {
            <li>The password must be at least 6 characters long.</li>
            }@else if (passowrdConreol?.getError('maxlength')) {
            <li>The password must not exceed 30 characters.</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>

    <div class="flex items-center justify-end gap-4 mt-3 cursor-pointer">
      <a
        routerLink="/forgetPassword"
        class="text-blue-500 hover:text-blue-700 hover:underline transition duration-300"
        >ForgitPassword</a
      >
      <button [disabled]="isLoading" class="btn-main">
        Signin @if (isLoading) {
        <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }
      </button>
    </div>

    @if (errorMassge) {
    <p class="text-red-500 p-2">{{ errorMassge }}</p>
    } @if (success) {
    <p class="text-green-500 p-2">{{ success }}</p>
    }
  </form>
</section>
